:root {
    --headingfont: "Lato", sans-serif;
    --bodyfont: "Domine", serif;
    --black: #1A1A1A;
    --primary: #3D405B;
    --accent: #81B29A;
    --alert: #E07A5F;
    --offwhite: #F4F1DE;
    --light: #F2CC8F;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--offwhite);
    font-family: var(--bodyfont);
}

a {
    color: var(--primary);
    font-weight: 900;
}

a:hover {
    color: var(--alert);
}

.wrapper {
    display: grid; 
    grid-template-columns: 300px 1fr; 
    grid-template-areas: 
    "sidenav main";
    gap: 1px 1px;
    min-height: 100vh;
}

@media (max-width: 750px) {
    .wrapper {
        grid-template-areas:
        "sidenav sidenav"
        "main main";
        grid-template-columns: 100%;
    }
}

.wrapper > * {
    padding: 1em;
    background-color: var(--offwhite);
}

section {
    border-bottom: 3px solid var(--black);
    padding: 1rem 0;
    header {
        margin-bottom: 0.5rem;
        border-bottom: 1px solid var(--black);
    }
}

main { grid-area: main; }

nav header h1 {
    font-size: 2em;
    margin-bottom: 1rem;
}

nav {
    display: flex;
    grid-area: sidenav;
    flex-direction: column;
    row-gap: 8px;
    border-right: 2px solid var(--black);
    position: fixed;
    height: 100vh;
    width: 300px;
}
#navbar {
    position: fixed;
}

@media (max-width: 750px) {
    nav {
    border-bottom: 2px solid var(--black);
    border-right: none;
    position: relative;
    height: 300px;
    width: 100%;
}
    #navbar {
        position: relative;
    }
}

pre {
    background-color: white;
    max-width: 500px;
}

/* Headings */
h1 {
    font-family: var(--headingfont);
    font-size: 3em;
    color: var(--primary);
    font-weight: bold;
    margin: 0;
}
h2 {
    font-family: var(--headingfont);
    font-size: 2.7em;
    color: var(--alert);
    font-weight: bold;
    margin: 0.25rem 0;
}
h3 {
    font-family: var(--headingfont);
    font-size: 2.4em;
    color: var(--accent);
    font-weight: bold;
    margin: 0.25rem 0;
}
h4 {
    font-family: var(--headingfont);
    font-size: 2em;
    color: var(--black);
    font-weight: bold;
    margin: 0.25rem 0;
}
h5 {
    font-family: var(--headingfont);
    font-size: 1.8em;
    color: var(--black);
    font-weight: normal;
    margin: 0.25rem 0;
}
h6 {
    font-family: var(--headingfont);
    font-size: 1.5em;
    color: var(--black);
    font-weight: normal;
    margin: 0.25rem 0;
}

/* Paragraph Styling */
.bold {
    font-weight: 900;
}
.emphasized {
    font-style: italic;   
}
.strikeout {
    text-decoration:line-through;
}
.highlighted {
    background-color: var(--primary);
    color: var(--offwhite);
}
.underlined {
    text-decoration: underline;
}

/* Button Styling */

#button-grid {
    display: flex;
    flex-wrap: wrap;
}

.button {
    padding: 0.25rem 0.75rem;
    background-color: var(--primary);
    color: var(--offwhite);
    font-weight: bold;
    font-size: 1.2em;
    border: 2px solid var(--black);
    border-radius: 8px;
    width: 150px;
    text-align: center;
}

.button:hover {
    background-color: var(--accent);
    color: var(--black);
}

.accent-btn {
    background-color: var(--alert);
}

.outline-btn {
    background-color: transparent;
    color: var(--black);
}

.grey-btn, .grey-btn:hover {
    background-color: silver;
    color: var(--black);
}

.small-btn {
    font-size: 0.75em;
    padding: 0.25;
    width: 75px;
}

.large-btn {
    font-size: 1.5em;
    width: 200px;
}